.create-post-modal {
  border: 1px solid #333;
}

.create-post-modal-hidden {
  border: 1px solid #333;
  display: none;
}

.navbar{
  display: flex; 
  width: 100%;
  background-color: #fff; 
  padding: 1% 5%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #ccc;
}

.home-link {
  font-size: 2em;
  font-weight: bold; 
  color: #d33;
  text-decoration: none;
}

.timeline {
  margin-top: 8%;
  background-color: #eee;
}

.post {
  max-width: 23%;
  background-color: white; 
  height: min-content;
  
}

.post-img {
  width: 100%;
  height: auto; 
  border-bottom-right-radius: 0;  border-bottom-left-radius: 0;
  border-radius: 10px;
}

.post-feed {
  display: flex; 
  flex-wrap: wrap;
  gap: 2%;
  padding: 0 4%;
}

.post-content {
  line-height: 1.7em;

}